# Compiled class file
*.class

# Log file
*.log
.DS_Store

# BlueJ files
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.nar
*.ear
*.zip
*.tar.gz
*.rar

hs_err_pid*
node_modules/*
